<a href="https://colab.research.google.com/github/Apoorvatalwar/apoorva/blob/main/5bca1_iterators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from itertools import count

for number in count(start=1, step=2):
	if number > 10:
		break
	print(number)

1
3
5
7
9

In [2]:
import itertools
for i in itertools.count(5, 5):
	if i == 35:
		break
	else:
		print(i, end=" ")

5 10 15 20 25 30

In [3]:


import itertools
count = 0
for i in itertools.cycle('AB'):
	if count > 7:
		break
	else:
		print(i, end=" ")
		count += 1

A B A B A B A B

In [8]:
import itertools
l = ['CSE', 'COM', 'ECM']
iterators = itertools.cycle(l)
for i in range(6):
  print(next(iterators), end=" ")

CSE COM ECM CSE COM ECM

In [9]:
import itertools
print("Printing the numbers repeatedly : ")
print(list(itertools.repeat(25, 4)))

Printing the numbers repeatedly :
[25, 25, 25, 25]

In [10]:
from itertools import product

print("The cartesian product using repeat:")
print(list(product([1, 2], repeat=2)))
print()

print("The cartesian product of the containers:")
print(list(product(['COM', 'CSE', 'ECM'], '2')))
print()

print("The cartesian product of the containers:")
print(list(product('AB', [3, 4])))

The cartesian product using repeat:
[(1, 1), (1, 2), (2, 1), (2, 2)]

The cartesian product of the containers:
[('COM', '2'), ('CSE', '2'), ('ECM', '2')]

The cartesian product of the containers:
[('A', 3), ('A', 4), ('B', 3), ('B', 4)]

In [11]:
from itertools import permutations

print("All the permutations of the given list is:")
print(list(permutations([1, 'Computer'], 2)))
print()

print("All the permutations of the given string is:")
print(list(permutations('AB')))
print()

print("All the permutations of the given container is:")
print(list(permutations(range(3), 2)))

All the permutations of the given list is:
[(1, 'Computer'), ('Computer', 1)]

All the permutations of the given string is:
[('A', 'B'), ('B', 'A')]

All the permutations of the given container is:
[(0, 1), (0, 2), (1, 0), (1, 2), (2, 0), (2, 1)]

In [12]:
from itertools import combinations

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(['A', 2], 2)))
print()

print ("All the combination of string in sorted order(without replacement) is:")
print(list(combinations('AB', 2)))
print()

print ("All the combination of list in sorted order(without replacement) is:")
print(list(combinations(range(2), 1)))

All the combination of list in sorted order(without replacement) is:
[('A', 2)]

All the combination of string in sorted order(without replacement) is:
[('A', 'B')]

All the combination of list in sorted order(without replacement) is:
[(0,), (1,)]

In [13]:
import itertools
import operator


li1 = [1, 4, 5, 7]


print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))


print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))


print("The sum after each iteration is : ", end="")
print(list(itertools.accumulate(li1)))


print("The product after each iteration is : ", end="")
print(list(itertools.accumulate(li1, operator.mul)))

The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]
The sum after each iteration is : [1, 5, 10, 17]
The product after each iteration is : [1, 4, 20, 140]

In [14]:
import itertools


li1 = [1, 4, 5, 7]


li2 = [1, 6, 5, 9]


li3 = [8, 10, 5, 4]


print("All values in mentioned chain are : ", end="")
print(list(itertools.chain(li1, li2, li3)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [15]:
import itertools



li1 = [1, 4, 5, 7]


li2 = [1, 6, 5, 9]


li3 = [8, 10, 5, 4]


li4 = [li1, li2, li3]


print ("All values in mentioned chain are : ", end ="")
print (list(itertools.chain.from_iterable(li4)))

All values in mentioned chain are : [1, 4, 5, 7, 1, 6, 5, 9, 8, 10, 5, 4]

In [16]:
import itertools
print("The compressed values in string are : ", end="")
print(list(itertools.compress('GEEKSFORGEEKS', [
	1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0])))

The compressed values in string are : ['G', 'F', 'G']

In [17]:
import itertools
li = [2, 4, 5, 7, 8]
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [18]:
import itertools
li = [2, 4, 5, 7, 8]
print ("The values after condition returns false : ", end ="")
print (list(itertools.dropwhile(lambda x : x % 2 == 0, li)))

The values after condition returns false : [5, 7, 8]

In [19]:
import itertools
li = [2, 4, 5, 7, 8]
print ("The values that return false to function are : ", end ="")
print (list(itertools.filterfalse(lambda x : x % 2 == 0, li)))

The values that return false to function are : [5, 7]

In [20]:
import itertools
li = [2, 4, 5, 7, 8, 10, 20]
print ("The sliced list values are : ", end ="")
print (list(itertools.islice(li, 1, 6, 2)))

The sliced list values are : [4, 7, 10]

In [21]:
import itertools
li = [ (1, 10, 5), (8, 4, 1), (5, 4, 9), (11, 10, 1) ]
print ("The values acc. to function are : ", end ="")
print (list(itertools.starmap(min, li)))

The values acc. to function are : [1, 1, 4, 1]

In [22]:
import itertools
li = [2, 4, 6, 7, 8, 10, 20]
print ("The list values till 1st false value are : ", end ="")
print (list(itertools.takewhile(lambda x : x % 2 == 0, li )))

The list values till 1st false value are : [2, 4, 6]

In [23]:
import itertools
li = [2, 4, 6, 7, 8, 10, 20]
iti = iter(li)
it = itertools.tee(iti, 3)
print("The iterators are : ")
for i in range(0, 3):
	print(list(it[i]))

The iterators are :
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]
[2, 4, 6, 7, 8, 10, 20]

In [24]:
import itertools
print("The combined values of iterables is : ")
print(*(itertools.zip_longest('Peiec', 'rsdny', fillvalue='_')))

The combined values of iterables is :
('P', 'r') ('e', 's') ('i', 'd') ('e', 'n') ('c', 'y')